*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100dvh;
  width: 100%;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  line-height: 1.5;
}

li {
  list-style-type: none;
}

a, a:visited {
  color: black;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  padding: 1rem 0.5rem 1rem;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
    z-index: 10;
}

nav ul {
  display: flex;
  gap: 1rem;
  align-items: center;
}

nav a, a:visited {
  text-decoration: none;
}

a:hover {
  color: orange;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

main {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  border-left: 1px solid rgb(0, 0, 0, 0.1);
  border-right: 1px solid rgb(0, 0, 0, 0.1);
  padding: 2rem;
}

.hero {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: justify;
}

.hero-image {
  margin-top: 0.5rem;
  background: rgb(222, 222, 222, 0.6);
  height: 400px;
  width: 550px;
  border-radius: 10px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-button {
  padding: 0.5rem 1rem 0.5rem;
  border: 1px solid rgb(0 0 0 / 0.1);
  border-radius: 5px;
  margin-top: 0.7rem;
}


.hero-button:hover {
  background: rgb(222, 222, 222, 1);
}

section {
  margin-bottom: 1.5rem;
}

.rate {
  margin-bottom: 0.5rem;
}

.favorite {
  height: 300px;
  width: 100%;
  background: rgb(222, 222, 222, 0.6);
  border-radius: 7px;
  margin-bottom: 1rem;
}

.favorite-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 0.5rem;
  text-align: justify;
}

.about-section {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  text-align: justify;
}

.about-section h1, .about-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-section p {
  margin-bottom: 1rem;
  line-height: 1.5;
}
